# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\surga\OneDrive\Рабочий стол\Уроки\Разработка сетевого хранилища на Java\Урок 2\NIO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
